[run]
parallel = True
relative_files = True

[report]
omit =
    tests/*
    **/__init__.py

[paths]
# Make coverage treat these as the same source tree
source =
    .
    */site-packages/cassiopeia
    */.venv/lib/*/site-packages/cassiopeia
