include cassiopeia/preprocess/collapse_cython.c
include cassiopeia/solver/ilp_solver_utilities.c
include cassiopeia/**/*.pxd
exclude cassiopeia/preprocess/collapse_cython.pyx
exclude cassiopeia/solver/ilp_solver_utilities.pyx
