sphinx
nbsphinx
sphinx-autodoc-typehints
nbsphinx-link
sphinx_gallery
pandas
numpy>=1.9
networkx >= 2.0
Cython >= 0.29.2
scanpydoc>=0.4.5
pydata-sphinx-theme>=0.4.0
pathlib
typing_extensions; python_version < '3.8'
