sphinx_rtd_theme==0.5.0
sphinx==4.0.0
nbsphinx
sphinx-autodoc-typehints
nbsphinx-link
pandas
numpy>=1.9
networkx >= 2.0
tqdm
ete3
numpy
matplotlib
argparse
Biopython
pandas-charm
pysam
bokeh
PyYAML
Cython >= 0.29.2
scipy
scanpydoc>=0.4.5
pydata-sphinx-theme>=0.4.0
python-Levenshtein
pathlib
typing_extensions; python_version < '3.8'